<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/style.css" rel="stylesheet">
    <title>Download your file</title>
</head>
<body>
<div class=" w-[50%] mx-auto rounded-md mt-12 p-3">
    <div class="flex flex-col p-2 rounded-lg bg-white mx-auto shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]  md:flex-row">
        <img
                class="h-96 w-[40%] rounded-md"
                src="https://i.ytimg.com/vi/x36_QR28WDU/hqdefault.jpg"
                alt="" />
        <div class="flex w-[60%] flex-col justify-start p-6">
            <p class=" text-xl font-medium text-gray-900">
                Card title
            </p>
            <p class="text-xs text-gray-900">
                Last updated 3 mins ago
            </p>
            <div class="pt-5">
                <table class="border-collapse border border-slate-500 p-2">
                    <thead>
                    <tr>
                        <th class="border-2 border-slate-600  p-2">File Type</th>
                        <th class="border-2 border-slate-600 p-2">File Size</th>
                        <th class="border-2 border-slate-600 p-2">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="border border-slate-700 p-2">Indiana</td>
                        <td class="border border-slate-700 p-2">Indianapolis</td>
                        <td class="border border-slate-700 p-2">
                            <a class="text-purple-700 font-bold" href="http://localhost:8080">Download</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>